/* Large desktop view */
@media (min-width: 980px) {
    body {
        padding-top: 30px;
        font-size: 100%;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linediv-r {
        border-left: 1px white solid;
    }
}

/* To deal with the mid-range */
@media (max-width: 980px) {
    body {
        font-size: 75%;
    }
    .subheading, strong.heading {
        margin: 0 auto;
        text-align: center;
    }
    strong.heading {
        display: block;
    }
      /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
     div.addthis_toolbox {
      margin: 0 auto;
      width: 300px;    
     }
}

/* landscape phones and down */
@media (max-width: 480px) {
    body {
        font-size: 40%
    }
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l {
        border-bottom: 1px white solid;
    }
    .linediv-r {
        border-top: 1px white solid;
    }
}

/* All form factors */

/* Main body and headings */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
/*     padding-top: 20px;
padding-bottom: 40px; */
}

.titles {
    background-image:url("../img/paper-scrap.jpg");
    background-repeat:repeat-x;
}

.titles:first-child{
    padding-top: 80px;
}

.heading {
    /*position: relative;*/
    font-size: 4em;
    font-weight: 500;
}

.subheading {
    font-size: 3em;
}

.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.sharebuttons {
    padding-bottom: 10px;
}

.brand {
     font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
     font-weight: 700;
}

.item > img {
    margin: 0 auto;
}

/* .navbar-inner {
        background-color: #DD3434;
} */

p.lead {
    padding-top: 15px;
    font-size: 24px;
    line-height: 30px;
}

p {
    font-size: 18px;
    line-height: 24px;
}

/* Video pitch and Action  */

.pitch {
    padding: 2.5% 0;
}
.order {
    padding: 4% 0;
}
.actions {
    background-color: #343434;
    padding: 1% 0;
}

.actions p {
    /* added without instruction  */
    color: white;
}

.video, .thermometer, .order, .social, .statistics {
    text-align: center;
}

.statistics h3, .statistics h6 {
    color: white;
}

/* Marketting Copy and Footer */

.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
    font-size: 14px;
}

.asset {
    padding: 2.5% 0;
}

.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}

.footer a {
    color: #ccccff;
}

.extra-info {
    padding: 5% 5%;
    color: white;
    background-color: #333333;
}

.faq {
    background-color: #EEEEEE;
    color: black;
    font-size: 14px;
}


/* 
.navigation, .pitch, .section1, .section2, .faq, .footer {
    padding: 10px 0 10px 0;
}

.video {
    Internal borders have 1px width, thus need to add 4 x 1px to 120px.
    height: 124px;
    line-height: 124px;
}
.thermometer, .order, .social {
    line-height to vertically center: http://phrogz.net/css/vertical-align/index.html
    height: 40px;
    line-height: 40px;
}
div.row {
    border: 1px solid;
}
 
.container {
    width: 960px;
} */